@page "/"

<style type="text/css">
button
{
  width: 200px;
}
</style>

<h1>Unauthenticated View</h1>

<h3>
    <form method="GET" action="/protected">
        <p><button type="submit">View Protected Data</button></p>
    </form>
</h3>
